{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('login') }}
{% endblock %}
{% block title %}Connexion
{% endblock %}
{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}
		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal">CONNEXION</h1>
		<input type="email" value="{{ last_username }}" name="email" placeholder="Email" id="inputEmail" class="form-control" autocomplete="email" required autofocus/>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Mot de passe" required/>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

		<button class="btn btn-lg btn-primary" type="submit">Connexion</button>
		<a href="{{ path('app_register') }}">inscription</a>
	</form>
{% endblock %}
