{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ encore_entry_link_tags('register') }}
{% endblock %}
{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>Register</h1>


	{# formulaire d'inscription #}
	{{ form_start(registrationForm) }}
	<h1 class="h3 mb-3 font-weight-normal">INSCRIPTION</h1>

	{{ form_widget(registrationForm) }}

	<button type="submit" class="btn btn-primary register-button">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
