{% extends 'base.html.twig' %}

{% block title %}Events index
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('events') }}
{% endblock %}
{% block body %}
	<h1>Events index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Date_start</th>
				<th>End_date</th>
				<th>Paying</th>
				<th>content</th>
				<th>Prix</th>
				<th>Numberofregistrants</th>
				<th>salle</th>

				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for event in events %}
				<tr>
					<td>{{ event.id }}</td>
					<td>{{ event.name }}</td>
					<td>{{ event.dateStart ? event.dateStart|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ event.paying ? 'Yes' : 'No' }}</td>
					<td>{{ event.prix }}</td>
					<td>{{ event.content }}</td>
					<td>{{ event.numberofregistrants }}</td>
					<td>{{ event.salle.name }}</td>

					<td>
						{# <a href="{{ path('app_events_show', {'id': event.id}) }}">show</a>
																								<a href="{{ path('app_events_edit', {'id': event.id}) }}">edit</a> #}
						<a href="{{path('app_appointment_new', {'event':event.id})}}">prendre un rendez vous</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
